html, body
{
	/*background: #FFF url(/images/redSky.jpg) repeat-x;*/
	/*background-image:url('/images/EnchBackground2.gif');*/
	background-color: #FFF;
	background-image: url(/enchiriadis.ie/images/redSky.jpg);
	background-attachment:fixed;
}

h1
{
	font-size:26px;
}

#newsArticles
{
	background: transparent url(/enchiriadis.ie/images/stripe.png) repeat scroll left top
}

.articleTitle
{
	border: 1px solid black;
}

.articleBody
{
	
}